@page
@model PixCollab.Pages.Picture.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <div>
        <h4 class="mt-4">@Html.DisplayFor(model => model.Picture.Title)</h4>
        <p>@Html.DisplayFor(model => model.Picture.Description)</p>
        <hr />


        <div class="card mb-3" @*style="max-width: 540px;"*@>
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="@Model.Picture.URL" class="img-fluid rounded-start">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <strong>@Html.DisplayNameFor(model => model.Picture.DateAdded)</strong>
                            </div>
                            <div class="col-10">
                                @Html.DisplayFor(model => model.Picture.DateAdded)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <strong>Uploaded by</strong>
                            </div>
                            <div class="col-10">
                                @Html.DisplayFor(model => model.Picture.Owner.FirstName) @Html.DisplayFor(model => model.Picture.Owner.LastName)
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <h4>Metadata</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <strong>@Html.DisplayNameFor(model => model.Picture.Metadata.CapturedBy)</strong>
                            </div>
                            <div class="col-10">
                                @Html.DisplayFor(model => model.Picture.Metadata.CapturedBy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <strong>@Html.DisplayNameFor(model => model.Picture.Metadata.CapturedDate)</strong>
                            </div>
                            <div class="col-10">
                                @Html.DisplayFor(model => model.Picture.Metadata.CapturedDate)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <strong>@Html.DisplayNameFor(model => model.Picture.Metadata.Geolocation)</strong>
                            </div>
                            <div class="col-10">
                                @Html.DisplayFor(model => model.Picture.Metadata.Geolocation)
                            </div>
                        </div>
                        <div class="row mt-4">
                            <form method="post">
                                <input type="hidden" asp-for="Picture.ID" />
                                <input type="submit" value="Delete" class="btn btn-danger" /> |
                                <a asp-page="./Index">Back to List</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</div>
