@page
@model PixCollab.Pages.Picture.IndexModel

@{
    ViewData["Title"] = "Index";
}

<style>
</style>

<div>
    <h4 class="fw-light text-center text-lg-start mt-4 mb-2 font-weight-bold">Your Pictures</h4>
    <p><a class="btn btn-sm btn-outline-dark" asp-page="Create"><i class="fas fa-cloud-upload-alt"></i> Upload</a></p>
</div>

<hr class="mt-1 mb-3">

<div class="row" data-masonry='{"percentPosition": true }'>

    @if (Model.Picture.Count > 0)
    {
        @foreach (var item in Model.Picture)
        {
            string uploaded = "";

            if ((DateTime.Now - item.DateAdded).Days <= 1)
            {
                if ((DateTime.Now - item.DateAdded).Hours <= 1)
                {
                    uploaded = "Added " + (DateTime.Now - item.DateAdded).Minutes + " minutes ago";
                }
                else
                {
                    uploaded = "Added " + (DateTime.Now - item.DateAdded).Hours + " hours ago";
                }
            }
            else
            {
                uploaded = "Added " + (DateTime.Now - item.DateAdded).Days + " days ago";
            }

            <div class="col-sm-4 col-lg-3 mb-4">
                <div class="card">
                    <img src="@item.URL" alt="..." class="card-img-top">
                    <div class="card-body">
                        <p class="card-text"><small class="text-muted">@uploaded by @Html.DisplayFor(x => item.Owner.FirstName) @Html.DisplayFor(x => item.Owner.LastName)</small></p>
                        <p class="card-text">
                            <a asp-page="./Details" asp-route-id="@item.ID"><i class="far fa-edit"></i></a> &nbsp;
                            <a asp-page="./PictureAccess" asp-route-id="@item.ID"><i class="fas fa-user-plus"></i></a>
                        </p>
                    </div>
                </div>
            </div>

        }
    }
    else
    {
        <div class="col justify-content-center" style="text-align:center">
            <img src="~/images/undraw_Photos_re_pvh3.png" height="400" />
            <p></p>
        </div>

    }
</div>
